<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Card compnent type-3</title>
    <link rel="stylesheet" href="card-component-type-3.css" />
  </head>
  <body>
    <!-- <h1>Hello world!😊</h1> -->

    <div class="container">
      <div class="card">
        <h2 class="card-heading">Customers' Most-Loved Fashion for you</h2>
        <div class="grid">
          <div class="grid-img-container">
            <img
              class="grid-img"
              src="../card-components-imgs/card-component-type-3-imgs/img1.jpg"
              alt="img1"
            />
          </div>
          <div class="grid-img-container">
            <img
              class="grid-img"
              src="../card-components-imgs/card-component-type-3-imgs/img2.jpg"
              alt="img1"
            />
          </div>
          <div class="grid-img-container">
            <img
              class="grid-img"
              src="../card-components-imgs/card-component-type-3-imgs/img3.jpg"
              alt="img1"
            />
          </div>
          <div class="grid-img-container">
            <img
              class="grid-img"
              src="../card-components-imgs/card-component-type-3-imgs/img4.jpg"
              alt="img1"
            />
          </div>
        </div>
        <a href="#" class="card-link">Explore all</a>
      </div>
    </div>
  </body>
</html>
